apiVersion: v1
kind: Service
metadata:
 name: {{.Values.services.name}}-{{.Values.environment}}  #service name
spec:
 type: {{.Values.services.type}}  #type of service
 selector:
    app: {{.Chart.Name}}-deployment-{{.Values.environment}} #selecting the pods
 ports:  # this is the port application will be accessed on if using LoadBalancer type
  - port: {{.Values.services.port}}
    targetPort: {{.Values.pod.containerPort}}   #this should match the port nginx listening on