name: Build-Deploy-Users-App

# workflow_dispatch ensures we have manual trigger of workflow and we can provide user input details as well
on: 
 workflow_dispatch:
   inputs:
     environment:
        type: choice
        description: "Specify the environment"
        options:
          - dev
        required: true
        default: 'dev'
      
    #  tag:
    #   description: "Specify the docker image tag to be pulled for prod/uat"
    #   required: false
     
     version:
       description: "Specify the version of the helm artifacts"
       required: true
       

env:
 TAG: ${{ github.run_id }} 

jobs:
  build-and-deploy:
       runs-on: ubuntu-latest
       outputs: 
        image_tag: ${{ steps.set-tag.outputs.tag }} 
        chart_version: ${{ steps.set-version.outputs.version }}
       permissions: 
         id-token: write # required for OIDC 
         contents: read # required for actions/checkout

       env:
        var2: This is job level env var accessible in all steps

       steps:
          - name: Checkout repository
            uses: actions/checkout@v4 
            env:
             var3: This is step level env var accessible only in this step 

          - name: Set image tag 
            id: set-tag 
            run: echo "tag=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT 
            
          - name: Set chart version 
            id: set-version 
            run: echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT 

          - name: Debug outputs
            run: |
              echo "tag=${{ steps.set-tag.outputs.tag }}"
              echo "version=${{ steps.set-version.outputs.version }}"

        
         
          # - name: Login to DockerHub
          # # executed only for dev
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   uses: docker/login-action@v3
          #   with:
          #     username: ${{vars.DOCKERHUB_USERNAME}}
          #     password: ${{secrets.DOCKERHUB_PASSWORD}}
          #     # added the dockerhub username as repo variable and password as repo secret


          # - name: Build Docker image for Users app
          # # executed only for dev
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   uses: docker/build-push-action@v5
          #   with:
          #     push: true  # so that image is pushed to Dockerhub as well
          #     context: .   # this ensures the paths in the Dockerfile work as expected
          #     file: ./docker/Dockerfile  # this ensures the Dockerfile is located in the correct folder
          #     tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.TAG}}

          # - name: Azure CLI Upgrade
          #   run: |
          #     az upgrade --yes
          #     az version
          
          # - name: Azure Login
          #   uses: azure/login@v2.3.0
          #   with:
          #      client-id: ${{ secrets.AZURE_APP_CLIENT_ID }}
          #      tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          #      subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
          # - name: Set AKS context 
          #   uses: azure/aks-set-context@v3 
          #   with: 
          #     resource-group : ${{vars.AZURE_RESOURCE_GROUP}} 
          #     cluster-name: ${{vars.AZURE_CLUSTER_NAME}}

          # - name: Get AKS credentials (admin bypass) 
          #   run: | 
          #     az aks get-credentials --resource-group ${{vars.AZURE_RESOURCE_GROUP}}  --name ${{vars.AZURE_CLUSTER_NAME}} --admin --overwrite-existing

          # - name : Create Namespace and Set context
          #   run: |
          #      kubectl create namespace ${{ github.event.inputs.environment }}-namespace --dry-run=client -o yaml | kubectl apply -f -
          #      kubectl config set-context --current --namespace=${{ github.event.inputs.environment }}-namespace

          # - name: Login to Docker Hub for Helm 
          #   env: 
          #     DOCKERHUB_REGISTRY_USERNAME: ${{ vars.DOCKERHUB_USERNAME }} 
          #     DOCKERHUB_REGISTRY_PA_TOKEN: ${{ secrets.DOCKERHUB_PA_TOKEN }} 
          #   run: | 
          #     helm registry login registry-1.docker.io --username "$DOCKERHUB_REGISTRY_USERNAME" --password "$DOCKERHUB_REGISTRY_PA_TOKEN"
          
          # - name: Helm package and push to DockerHub
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   run : |
          #      helm package --version=${{ github.event.inputs.version }} ./charts/${{vars.HELM_CHART_NAME}}/ --destination ./artifacts
          #      helm push ./artifacts/${{vars.HELM_CHART_NAME}}-${{ github.event.inputs.version }}.tgz oci://registry-1.docker.io/${{vars.DOCKERHUB_USERNAME}}/
          
          # - name: Helm Upgrade
          #   run: |
          #      helm upgrade ${{vars.APP_NAME}}-release oci://registry-1.docker.io/${{vars.DOCKERHUB_USERNAME}}/${{vars.HELM_CHART_NAME}} \
          #      --version ${{ github.event.inputs.version }} \
          #      --install --debug \
          #      --set pod.imageName=${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.TAG}}  \
          #      --set environment=${{ github.event.inputs.environment }}
  
  call-workflow-passing-data:
    uses: ./.github/workflows/chart-deploy.yml
    with:
      image_tag: $TAG
      chart_version: ${{ github.event.inputs.version }}

